@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}
.nav-bg {
  background-image: url("./assets/NavImg.jpeg");
}
.welcome-bg {
  background-image: url("./assets/welcomeBg.png");
  min-height: 534px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.footer-bg {
  background-image: url("./assets/footer.jpeg");
  background-size: cover;
  background-position: center center;
}
.dotted-bg {
  background: #172c27;
  background-image: radial-gradient(
    circle at 50% 50%,
    #898989 1%,
    transparent 3%
  );
  background-size: 50px 50px;
}
.dotted-bg-white {
  background-image: radial-gradient(
    circle at 50% 50%,
    #898989 3%,
    transparent 3%
  );
  background-size: 50px 50px;
}
.dotted-bg-gray {
  background: #f9f9f9;
  background-image: radial-gradient(
    circle at 50% 50%,
    #ddd6d6 3%,
    transparent 3%
  );
  background-size: 50px 50px;
}
.event-bg {
  background-image: url("./assets/background1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(1, 6, 2, 0.95);
}
.mic-bg {
  background-image: url("./assets/mic.png");
  background-repeat: repeat;
  background-size: 50px;
  background-position: 50px 50px;
  background-color: #172c27;
}
.thunder-bg {
  background-image: url("./assets/background1.png");
  background-size: cover;
  background-color: #172c27;
}

.tower-bg {
  background-image: url("./assets/background4.png");
  background-size: auto;
  background-position: top;
  background-repeat: repeat;
  background-color: #172c27;
}
.tower-bg-white {
  background-image: url("./assets/background5.jpeg");
  background-position: left bottom;
  background-repeat: no-repeat;
}

.patron-card:hover svg path {
  fill: #eb9231;
}
.nav-link {
  @apply hover:scale-125;
}
